.bloco-bio .container {
  flex-direction: column;
}

.bloco-bio .card {
  background: #f6f6f6;
  border-radius: 16px;
  position: relative;
  top: 66px;
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.avatar {
  width: 132px;
  height: 132px;
  margin-top: -66px;
  margin-bottom: 18px;
  border: 4px solid #f6f6f6;
  border-radius: 100%;
}

.info-bio {
  padding: 0 33px;
}

.info-bio h3 {
  font-size: 14px;
  margin-top: 38px;
  border-bottom: 2px solid #707070;
  padding-bottom: 4px;
  width: 38px;
}

.info-bio p {
  font-size: 12px;
  margin-top: 18px;
}

.info-gerais {
  padding: 0 33px;
  font-size: 12px;
  width: 100%;
  margin-bottom: 18px;
}

.info-gerais h3 {
  font-size: 14px;
  margin-top: 30px;
  border-bottom: 2px solid #707070;
  padding-bottom: 4px;
  width: 142px;
}

.info-gerais .linha {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.info-gerais .linha img {
  width: 24px;
  margin-right: 12px;
}
